{% extends 'theme/base.html' %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">Personen verwalten</h1>
<a href="{% url 'person_add' %}" class="inline-block mb-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Neue Person anlegen</a>
<ul class="space-y-2">
  {% for person in personen %}
    <li class="p-2 bg-gray-100 rounded">
      <span class="font-semibold">{{ person.name }}</span> <span class="text-gray-500">({{ person.email }})</span> - {{ person.funktion }}<br>
      <span class="text-sm text-gray-600">Gremien: {% for gremium in person.gremien.all %}{{ gremium.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
    </li>
  {% empty %}
    <li class="text-gray-500">Keine Personen vorhanden.</li>
  {% endfor %}
</ul>
{% endblock %}
